extends layout

block content
  .row
    .col-md-6
        a(href='/postData') View Post Data
  .row
    .col-md-6
      a(href='/N000181') ReCaptcha
  .row
    .col-md-6
      a(href='/P000603') ReCaptcha v2
  .row
    .col-md-6
      a(href='/B001292') Two Step
  .row
    .col-md-6
      a(href='/W000805') One Step